<%= render partial: '/navigation' %>

<div class="body">
  <div class="container">

    <p id="notice"><%= flash.notice %></p>


    <div class="row">

      <div class="col-xs-3">
        <%= render partial: '/sideProfile', locals: {models: @side_profile_models} %>
      </div>

      <div class="col-xs-9">
        <h2>Books</h2>

        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
          <% @books.each do |book| %>

            <tr>
                <td>
                  <% if book['profile_image_id'].nil? %>
                      <%= image_tag 'no_book.jpg', size: '40x40',class: 'attachment user profile_image fallback' %>
                  <% else %>
                      <%= image_tag attachment_url(book, :profile_image, :fill, 50, 50, format: "jpg"),class: 'attachment user profile_image fallback'%>
                  <% end %>
                </td>
                <td>
                  <%= link_to book['title'], book_path(book['id']) %>
                </td>
                <td>
                  <%= book['body'] %>
                </td>

            </tr>
          <% end %>

          </tbody>

        </table>

        <%= paginate(@books) %>
      </div>
    </div>
  </div>
</div>

<%= render partial: '/footer' %>