<%= render partial: '/navigation' %>

<div class="body">
  <div class="container">

    <p id="notice"></p>


    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Editing Book</h1>

          <% if @book.errors.any? %>
            <div id="error_explanation">
              <h3><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
              <ul>
                <% @book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>

          <% end %>

        <form class="edit_book" id="edit_book_<%= @book.id %>" action="/books/<%= @book.id %>" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="_method" value="patch">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <div class="field row">
            <label for="book_title">Title</label>
            <input class="col-xs-12" type="text" value="<%= @book.title %>" name="book[title]" id="book_title">
          </div>

          <div class="field row">
            <label for="book_body">Opinion</label>
            <textarea class="col-xs-12" name="book[body]" id="book_body"><%= @book.body %></textarea>
          </div>

          <div class="actions row">
            <input type="submit" name="commit" value="Update Book" class="btn btn-primary col-xs-12" data-disable-with="Update Book">
          </div>

        </form>
        <a href="/books/<%= @book.id %>">Show</a> |

        <a class="back" href="/books">Back</a>




      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<%= render partial: '/footer' %>