<%= render partial: '/navigation' %>

<div class="body">
  <div class="container">

    <p id="notice"><%= notice %></p>

    <% unless @comment_error.nil? %>
      <div id="error_explanation">
        <h3><%= pluralize(@comment_error.count, "error") %> prohibited this comment from being saved:</h3>
        <ul>
          <% @comment_error.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>

    <% end %>

    <div class="row">

      <div class="col-xs-3">
        <%= render partial: '/sideProfile', locals: {models: @side_profile_models} %>
      </div>

      <div class="col-xs-9">
        <h2>Book detail</h2>

        <table class="table">
          <tbody>

            <tr>
              <td>
                <% if @book['profile_image_id'].nil? %>
                    <%= image_tag 'no_book.jpg', size: '40x40',class: 'attachment user profile_image fallback' %>
                <% else %>
                    <%= image_tag attachment_url(@book, :profile_image, :fill, 130, 200, format: "jpg"),class: 'attachment user profile_image fallback'%>
                <% end %>
              </td>

              <td>
                <%= @book.title %>
              </td>

              <td>
                <%= @book.body %>
              </td>

              <%if current_user.id == @side_profile_models['user']['id']%>
                <td>
                  <%= link_to 'Edit', edit_book_path(@book.id),class: 'btn-sm btn-success' %>
                </td>

                <td>
                  <%= link_to "Destroy", book_path(@book.id), method: :delete,class: 'btn-sm btn-danger',data: { confirm: '本当に消しますか?' } %>
                </td>

              <% end %>

            </tr>


          </tbody>

        </table>

        <h3>Comment List</h3>

        <% @comment_models['comments'].each do |comment| %>
          <table class="comment_list">
            <tbody>
              <tr>
                <td class="comment_body"><strong><%= comment.body %></strong></td>
              </tr>
              <tr class="comment_detail">
                <td><%= comment.user.name %></td>
                <td><%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
                <%if current_user.id == comment.user_id%>
                  <td>
                    <%= link_to 'Edit', edit_book_comment_path(comment.id),class: 'btn-sm btn-success' %>
                    <%= link_to "Destroy", book_comment_path(comment.id), method: :delete,class: 'btn-sm btn-danger',data: { confirm: '本当に消しますか?' } %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        <% end %>
        <%= paginate(@comment_models['comments']) %>

        <%unless @comment_models['edit_comment'].nil? %>
          <%= form_tag(book_comment_path, method: :put) do%>
            <%= label_tag 'body','Edit Comment',class:"text-info" %>
            <%= hidden_field_tag :comment_id,@comment_models['edit_comment']['id'] %>

            <div class=”input-group”>
              <%= text_field_tag :body, @comment_models['edit_comment']['body'] , class:'form-control comment_form'%>
                <span class="input-group-btn">
                  <%= submit_tag 'Update',class:'btn btn-primary comment_btn' %>
                </span>
            </div>

          <% end %>

        <% else %>
          <%= form_for(@comment_models['new_comment_model']) do |f| %>

              <%= f.label :body,'Comment',class:"text-info" %>
              <%= f.hidden_field :book_id, :value => @book['id'] %>

              <div class=”input-group”>
                <%= f.text_field :body ,class:'form-control comment_form'%>
                <span class="input-group-btn">
                  <%= f.submit 'submit',class:'btn btn-primary comment_btn' %>
                </span>
              </div>

          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: '/footer' %>