<%= render partial: '/navigation' %>

<div class="body">
  <div class="container">

    <p id="notice"><%= notice %></p>
    <% unless @comment_error.nil? %>
      <div id="error_explanation">
        <h3><%= pluralize(@comment_error.count, "error") %> prohibited this comment from being saved:</h3>
        <ul>
          <% @comment_error.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>

    <% end %>

    <div class="row">

      <div class="col-xs-3">
        <%= render partial: '/sideProfile' %>
      </div>

      <div class="col-xs-9">
        <h2>Book detail</h2>

        <table class="table">
          <tbody>

            <tr>
              <td>
                <% if @user.profile_image_id.nil? %>
                  <%= link_to user_path(@user.id) do %>
                    <%= image_tag 'no_image.jpg', size: '40x40',class: 'attachment user profile_image fallback' %><br>
                    <%= @user.name %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(@user[:id]) do %>
                    <%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg"),class: 'attachment user profile_image fallback'%><br>
                    <%= @user.name %>
                  <% end %>
                <% end %>
              </td>

              <td>
                <%= link_to @display_book.title, book_path(@display_book.id) %>
              </td>

              <td>
                <%= @display_book.body %>
              </td>

              <%if current_user.id == @user.id%>
                <td>
                  <%= link_to 'Edit', edit_book_path(@display_book.id),class: 'btn-sm btn-success' %>
                </td>

                <td>
                  <%= link_to "Destroy", book_path(@display_book.id), method: :delete,class: 'btn-sm btn-danger',data: { confirm: '本当に消しますか?' } %>
                </td>

            <% end %>

            </tr>


          </tbody>

        </table>

        <h3>Comment List</h3>

        <% @comments.each do |comment| %>
          <table class="comment_list">
            <tbody>
              <tr>
                <td class="comment_body"><strong><%= comment.body %></strong></td>
              </tr>
              <tr class="comment_detail">
                <td><%= comment.user.name %></td>
                <td><%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
                <%if current_user.id == comment.user_id%>
                  <td>
                    <%= link_to 'Edit', edit_book_comment_path(comment.id),class: 'btn-sm btn-success' %>
                    <%= link_to "Destroy", book_comment_path(comment.id), method: :delete,class: 'btn-sm btn-danger',data: { confirm: '本当に消しますか?' } %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        <% end %>

        <%unless @edit_comment.nil? %>
          <form action='/book_comments/<%= @edit_comment['id'] %>' accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="✓">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <label class="text-info" for="body">Edit Comment</label>
            <input type="hidden" name="comment_id" id="comment_id" value="<%= @edit_comment['id'] %>">

            <div class="”input-group”">
              <input type="text" name="body" id="body" value="<%= @edit_comment['body'] %>" class="form-control comment_form">
              <span class="input-group-btn">
                  <input type="submit" name="commit" value="Update" class="btn btn-primary comment_btn" data-disable-with="Update">
                </span>
            </div>

          </form>

        <% else %>
          <form class="new_book_comment" id="new_book_comment" action="/book_comments" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="✓">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <label class="text-info" for="book_comment_body">Comment</label>
            <input value="1" type="hidden" name="book_comment[book_id]" id="book_comment_book_id">

            <div class="”input-group”">
              <input class="form-control comment_form" type="text" name="book_comment[body]" id="book_comment_body">
              <span class="input-group-btn">
                  <input type="submit" name="commit" value="submit" class="btn btn-primary comment_btn" data-disable-with="submit">
                </span>
            </div>

          </form>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: '/footer' %>