<%= render partial: '/navigation' %>

<h1>Homes#about</h1>
<% if user_signed_in? %>
  <h2> 現在 <%= current_user.name %> さんがログインしています </h2>
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <h2> 現在ログインしていません </h2>
<% end %>

<hr>

<div class="body">
  <div class="container">

    <p id="notice"></p>


    <h1>Welcome to <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>!</h1>


  </div>
</div>

<%= render partial: '/footer' %>