<%= render partial: '/navigation' %>

<div class="body">
  <div class="container">

    <p id="notice"></p>

    <div class="row">

      <div class="col-xs-3">
        <%= render partial: '/sideProfile' %>
      </div>

      <div class="col-xs-9">
        <h2>Follow & Follower List</h2>

          <ul class="nav nav-tabs follow_list_tab">
            <li class="nav-item active">
              <a href="#follower" class="active" data-toggle="tab">フォロワー</a>
            </li>
            <li class="nav-item">
              <a href="#follow" data-toggle="tab">フォロー中</a>
            </li>
          </ul>

          <div class="tab-content tab_main_content">
<!--            タブ１のコンテンツ-->
            <div id="follower" class="tab-pane active">
              <% unless @followers.nil? %>
                <% @followers.each do |follow| %>
                <div class="user_inf">
                <table>
                  <tbody>
                      <tr>
                        <td>
                          <% if follow.profile_image_id.nil? %>
                            <%= image_tag 'no_image.jpg', size: '80x80',class: 'attachment user profile_image fallback' %>
                          <% else %>
                            <%= image_tag attachment_url(follow, :profile_image, :fill, 80, 80, format: "jpg"),class: 'attachment user profile_image fallback' %>
                          <% end %>
                        </td>
                        <td><p class="follower_name"><%= follow.name %></p></td>
                        <td class="follow_mes"><p>フォローされています</p></td>

                            <% if @follow_check[follow.id] %>
                              <td class="follow_list_follow_btn">
                                <%= link_to follow_path(follow.id),method: :delete do %>
                                  <div class="btn btn-info follow_btn_on">フォロー</div>
                                <% end %>
                              </td>
                            <% else %>
                              <td class="follow_list_follow_btn">
                                <%= link_to new_follow_path(follow.id) do %>
                                  <div class="btn btn-info follow_btn">フォロー</div>
                                <% end %>
                              </td>
                            <% end %>

                      </tr>
                  </tbody>
                </table>
                  <p><%= follow.introduction %></p>
            </div>
              <% end %>
              <% end %>

            </div>
<!--          　タブ２のコンテンツ-->
            <div id="follow" class="tab-pane">
              <% unless @follows.nil? %>
                <% @follows.each do |follow| %>
                  <div class="user_inf">
                    <table>
                      <tbody>
                      <tr>
                        <td>
                          <% if follow.profile_image_id.nil? %>
                            <%= image_tag 'no_image.jpg', size: '80x80',class: 'attachment user profile_image fallback' %>
                          <% else %>
                            <%= image_tag attachment_url(follow, :profile_image, :fill, 80, 80, format: "jpg"),class: 'attachment user profile_image fallback' %>
                          <% end %>
                        </td>
                        <td><p class="follower_name"><%= follow.name %></p></td>
                        <td class="follow_mes">
                          <% if @follower_check.key?(follow.id.to_i) %>
                            <p>フォローされています</p>
                          <% end %>
                        </td>

                        <% if @follow_check[follow.id] %>
                          <td class="follow_list_follow_btn">
                            <%= link_to follow_path(follow.id),method: :delete do %>
                              <div class="btn btn-info follow_btn_on">フォロー</div>
                            <% end %>
                          </td>
                        <% else %>
                          <td class="follow_list_follow_btn">
                            <%= link_to new_follow_path(follow.id) do %>
                              <div class="btn btn-info follow_btn">フォロー</div>
                            <% end %>
                          </td>
                        <% end %>

                      </tr>
                      </tbody>
                    </table>
                    <p><%= follow.introduction %></p>
                  </div>
                <% end %>
              <% end %>

            </div>

          </div>

      </div>

    </div>
  </div>
</div>

<%= render partial: '/footer' %>