<%= render partial: '/navigation' %>

<div class="body">
  <div class="container">

    <p id="notice"></p>


    <h2><%= @search_target %>の<%= @search_method %>の結果</h2>

    <% if @search_target == 'ユーザー' %>
      <table class="table table-hover table-inverse">
        <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th>follow</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @search_results.each do |user| %>

          <tr>
            <td>
              <% if user.profile_image_id.nil? %>
                <%= image_tag 'no_image.jpg', size: '40x40',class: 'attachment user profile_image fallback' %>
              <% else %>
                <%= image_tag attachment_url(user, :profile_image, :fill, 50, 50, format: "jpg"),class: 'attachment user profile_image fallback'%>
              <% end %>
            </td>
            <td>
              <%= user.name %>
            </td>

            <%= render partial: '/user_list_follow_btn', locals: {user: user, follow_check: @follow_check} %>

          </tr>
        <% end %>

        </tbody>

      </table>
    <% else %>
      <table class="table table-hover table-inverse">
        <thead>
        <tr>
          <th></th>
          <th>Favorite</th>
          <th>Title</th>
          <th>Opinion</th>

          <th colspan="4"></th>
        </tr>
        </thead>

        <tbody>
        <% @search_results.each do |book| %>
          <% @users.each do |user|%>
            <% if user[:id] == book[:user_id] %>
              <tr class="book_list_tr">
                <td>
                  <% if user[:profile_image_id].nil? %>
                    <%= link_to user_path(user[:id]) do %>
                      <%= image_tag 'no_image.jpg', size: '40x40',class: 'attachment user profile_image fallback' %>
                    <% end %>
                  <% else %>
                    <%= link_to user_path(user[:id]) do %>
                      <%= image_tag attachment_url(user, :profile_image, :fill, 50, 50, format: "jpg"),class: 'attachment user profile_image fallback'%>
                    <% end %>
                  <% end %>
                </td>

                <td class="book_list_fav_btn<%= book['id'] %>">
                  <%= render partial: '/book_list_fav_btn', locals: {book: book, fav_self_check: @fav_check['fav_self_check'], fav_count: @fav_check['fav_count']} %>
                </td>

                <td class="nowrap">
                  <%= link_to book.title, book_path(book.id) %>
                </td>
                <td class="line-break">
                  <%= book.body %>
                </td>

              </tr>

            <% end %>

          <% end %>
        <% end %>

        </tbody>

      </table>
    <% end %>

  </div>
</div>

<%= render partial: '/footer' %>