<h2>User info</h2>
<% if @image.nil? %>
  <%= image_tag 'no_image.jpg', size: '100x100',class: 'attachment user profile_image fallback' %>
<% else %>
  <%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg"),class: 'attachment user profile_image fallback' %>
<% end %>
<table class="table">
  <tbody>
  <tr></tr>
  <tr>
    <th>name</th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
  </tr>

  <tr>
    <th>follow</th>
    <th><%= link_to @follow_count,follow_path(@user.id) %></th>
  </tr>
  <tr>
    <th>follower</th>
    <th><%= link_to @follower_count,follow_path(@user.id) %></th>
  </tr>
  </tbody>
</table>

<div class="row">
  <% if @user[:id] == current_user.id %>
    <%= link_to '', edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
  <% else %>
    <%= link_to '', user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
  <% end %>
</div>

<h2>New book</h2>

<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="field row">
    <label for="book_title">Title</label>
    <input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <textarea class="col-xs-12 book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="actions row">
    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
  </div>
</form>